body {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.Main {
 
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  top: 40px;
  width: 298px;
  height: 303px;
  pointer-events: none;
  
}
.Winner {
  background: rgb(100, 229, 247);
  opacity: 0.7;
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  top: 40px;
  width: 303px;
  height: 303px;
  pointer-events: none;
  font-size: 72px;
  color: rgb(0, 0, 3);
}

.Square {
  
  transition: 0.3s;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(42, 170, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(108, 185, 236);
}
.Square:hover {
  
  background: rgb(245, 224, 224);
  transition: 0.3s;
  cursor: pointer;
}
.Status {
  display: flex;
  justify-content: space-around;
  color: rgb(224, 87, 24);
}
.Container {
  text-align: center;
 
}
button {
  margin-top: 20px;
  background: rgb(3, 194, 3);
  transition: 0.3s;
  width: 100%;
  font-size: 14px;
}
button:hover {
  cursor: pointer;
  background: rgb(84, 248, 84);
  transition: 0.3s;
  font-size: 20px;
}
.Board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}

